@font-face {
  font-family: "letoSans";
  src: url("../fonts/LETOSANS.woff") format("woff"),
  url("../fonts/LETOSANS.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "letoSans";
  src: url("../fonts/LETOSANSBOLD.woff") format("woff"),
  url("../fonts/LETOSANSBOLD.otf") format("otf");
  font-weight: 700;
}

@font-face {
  font-family: "letoSans";
  src: url("../fonts/LETOSANSTHIN.woff") format("woff"),
  url("../fonts/LETOSANSTHIN.otf") format("otf");
  font-weight: 100;
}